.picture{
    background-image: url(a.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
}

.logo{
    
    background-color:rgba(0, 0, 0,.65);
    margin-top: 20vh;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    color: rgb(190, 205, 205);
    font-size: 3vw;
    font-weight: bold;
}

.imagelogo{
    background-color: rgba(0, 0, 0,0);
    height: 10vh;
    width: 10vh;
}

.text{
    padding-left: 25px;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
    color: rgb(177, 177, 177);
}


.content{
    display: flex;
    flex-direction: row;
    
    height: 100vh;
    width: 100vw;
}


.signup{
    padding-top: 10vh;
    padding-left: 0px;
    font-size: 3vh;
    width: 60vw;
    display: flex;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
}

#special{
    padding-top: 5vh;
    font-weight: bold;
    padding-bottom: 6vh;
}

p,em{
    font-weight: bold;
}


#submit{
    width: 250px;
}


.fform{

    height: 45vh;
    background-color: rgb(0, 0, 0);

    padding-left: 40px;
}
.aform{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 66vw;
    height: 40vh;
}



.text{
    padding-left: 40px;
}


.row{
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

input{
    height: 20px;

}


.box{
    width: 25vw;
    background-color: black;
    border: 1px solid rgb(93, 90, 90);
    color: rgb(93, 90, 90);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgb(0, 0, 0) inset !important;
    -webkit-text-fill-color: rgb(93, 90, 90);
}

input:focus{
    outline: none !important;
    background-color: black;
    border-color: rgba(215, 23, 141, 0.802);
    color: rgb(93, 90, 90);
}




#ldt{
    padding-bottom: 2.5vh;
}


label{
    color: rgb(67, 65, 65);
    font-size: 15px;
}


#submit{
    margin-left: 40px;
    width: 15vw;
    height: 7.5vh;
    background-color: black;
    border: 3px solid rgb(215, 23, 141);
    color: rgb(215, 23, 141);
    font-weight: bolder;
    font-size: 3vh;
    border-radius: 15px;
}

#submit:hover{
    background-color: rgb(215, 23, 141);
    color:black
}